@import '../../../../styles/base/func';
.alldayprograms{
    padding-block: size(63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: size(48);
        font-weight: 700;
        line-height: size(59.42);
        color: var(--dark);
    }
    h5{
        font-size: size(26);
        font-weight: 700;
        line-height: size(30);
        color: var(--pink);
        margin-bottom: size(53);
    }
    .content{
        display: flex;
        gap: size(24);
    }
    .notes{
        margin-top: size(31);
        padding-block: size(32);
        padding-left: size(40.28);
        padding-right: size(103.15);
        border-radius: size(29);
        background-color: var(--white);
        p{
            font-size: size(20);
            font-weight: 500;
            line-height: size(30);
            color: var(--black);
        }
    }
 
}