@import '../../../styles/base/func';
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: size(20) size(16);
    background-color: black;
    z-index: 99999;
    .topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      img{
        height: size(55);
      }
    }
    nav{
      .navItems{
        display: flex;
        gap: size(24);
        color:var(--white);
        font-weight: 700;
        font-size: size(16);
        line-height: size(19.81);
        letter-spacing: 1%;
        .active{
            color: var(--active);
        }
        @media #{max-width()} {
          flex-direction: column;
        }
      }
    }
    .buttons{
      display: flex;
      gap:size(8)
    }
  }
  &.header-transparent {
    background-color: transparent; /* Home sayfasında */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  &.header-relative {
    position: relative;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    span {
      background-color: var(--white);
      width: 100%;
      height: 2px;
      display: flex;
      margin-left: auto;
      transition: all 500ms ease;
      &:nth-child(1) {
      }
      &:nth-child(2) {
        width: 50%;
        transform-origin: left;
      }
      &:nth-child(3) {
        width: 80%;
      }
    }
    &.menuActive {
      span {
        background-color: var(--white);
        width: 100%;
        height: 2px;
        display: flex;
        margin-left: auto;
        &:nth-child(1) {
          transform: translateY(10px) rotate(135deg);
        }
        &:nth-child(2) {
          width: 50%;
          transform: scaleX(0);
        }
        &:nth-child(3) {
          width: 100%;
          transform: translateY(-7px) rotate(-135deg);
        }
      }
    }
  }
}

