@import '../../../styles/base/func';
.banner{
 display: flex;
 flex-direction: column;
 gap: size(32);
 width: 100%;
 .pinkBanner{
    display: flex;
    padding: size(32) size(48);
    background-color: var(--pink);
    width: 100%;
    border-radius: size(26);
    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .leftContent{
            width: size(335);
        }
        .rightContent{
            width: size(398);
        }
    }
 }
}